.fast-checkout_form {
  display: flex;
  flex-direction: column;
}
.fast-checkout_form :is(input, select) {
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 4px;
  padding: 0.5rem 0.5rem;
  background-color: #fff !important;
  font-size: 1.05rem;
}
.fast-checkout_form label {
  margin-top: 0.65rem;
  color: #3b4048;
  font-size: 1rem;
  font-family: inherit;
  display: flex;
}
.fast-checkout_form fieldset {
  border: 0;
  padding: 0;
}
.fast-checkout_form button[type=submit] {
  padding: 0.75rem;
  border: none;
  background: rgb(209, 0, 0);
  border-radius: 10px;
  color: #fff;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.fast-checkout_form button[type=submit]:hover {
  cursor: pointer;
  background-color: rgb(183, 0, 0);
}
.fast-checkout_form .payment {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  border: none;
}
.fast-checkout_form .payment legend {
  color: #3b4048;
}
.fast-checkout_form .payment label {
  font-weight: bold;
  color: #3b4048;
  display: flex;
  padding: 0;
  margin: 0 !important;
  cursor: pointer;
}
.fast-checkout_form .payment input {
  width: auto;
  height: fit-content;
}
.fast-checkout_form .payment .payment-desc {
  font-size: 0.9em;
  font-weight: normal;
  display: none;
  width: 100%;
  padding: 0.75rem 1rem;
}
.fast-checkout_form .payment .payment-desc ul {
  padding-left: 0;
  width: 100%;
  margin: 0;
}
.fast-checkout_form .payment .payment-desc li {
  list-style: none;
  display: flex;
  padding: 0.5rem 0;
  flex-direction: column;
  width: 100%;
}
.fast-checkout_form .payment .payment-desc li:first-child {
  border-bottom: 1px solid #ddd;
  padding-top: 0;
}
.fast-checkout_form .payment .payment-desc li:last-child {
  padding-bottom: 0;
}
.fast-checkout_form .payment .payment-desc li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.fast-checkout_form .payment-method {
  border-radius: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
}
.fast-checkout_form .payment-method .payment-type {
  padding: 0.5rem 0.65rem;
}
.fast-checkout_form .payment-method .payment-desc {
  padding: 0.75rem 1rem;
}
.fast-checkout_form .payment-method .payment-details {
  width: 100% !important;
}
.fast-checkout_form .payment-method:has(input[type=radio]:checked) {
  border: 2px solid #51a251;
}
.fast-checkout_form .payment-method:has(input[type=radio]:checked) .payment-type {
  border-bottom: 1px solid #ddd;
  color: #52a251;
}
.fast-checkout_form .payment-method:has(input[type=radio]:checked) .payment-desc {
  display: block;
}
.fast-checkout_form .payment-method:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.progress-wrapper {
  display: none;
  gap: 2px;
  margin-top: 5px;
  width: 100%;
  height: 4px;
  background: transparent;
  justify-content: space-between;
}
.progress-wrapper.active {
  display: flex;
}

.progress-segment {
  flex: 1;
  background-color: #eee;
  border-radius: 2px;
  height: 100%;
  transition: background-color 0.2s ease;
}
.progress-segment.active {
  background-color: #6bd36f;
}
.progress-segment.over {
  background-color: red;
}

#billing_phone.edited {
  border-color: #6bd36f !important;
}

.fast-checkout-order-confirmation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: min(100dvw, 500px);
  min-height: 40dvh;
  height: fit-content;
  background-color: #ffffff;
  padding: 2rem 1rem;
  margin: auto auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 -5px 530px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
  font-family: inherit;
  z-index: 999;
}
.fast-checkout-order-confirmation ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-size: 0.95rem;
  color: #585f65;
}
.fast-checkout-order-confirmation li {
  margin: 0;
  padding: 0;
}
.fast-checkout-order-confirmation .close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 30px;
  border: 1px solid #969696;
  color: #969696;
  background: #f6f6f6;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.fast-checkout-order-confirmation .save-button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 10px;
  border: none;
  background: #439d56;
  color: #fff;
  font-size: 1.1rem;
}
.fast-checkout-order-confirmation :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: inherit;
  color: #303133;
}
.fast-checkout-order-confirmation .confirm-heading {
  text-align: center;
  margin-bottom: 1rem;
}
.fast-checkout-order-confirmation .confirm-heading :is(h1, h2, h3, h4, h5, h6) {
  color: #439d56;
}
.fast-checkout-order-confirmation .confirm-email {
  text-align: center;
  background: #f3faf3 !important;
  border: 1px dashed #b4d3ba;
  padding: 1rem !important;
}
.fast-checkout-order-confirmation .confirm-email span {
  color: #439d56;
}
.fast-checkout-order-confirmation [class^=confirm-]:not(.confirm-heading) {
  padding: 1.5rem 1rem;
  background: #f7f8f9;
  border-radius: 10px;
  margin: 0.5rem 0;
}
.fast-checkout-order-confirmation fieldset {
  border: 0;
  padding: 0;
}

#fast-checkout-submit.loading {
  pointer-events: none;
  position: relative;
  color: transparent;
}
#fast-checkout-submit.loading::before {
  content: "";
  position: absolute;
  left: calc(50% - 8px);
  top: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  animation: loadingDots 1s infinite ease-in-out;
}

@keyframes loadingDots {
  0% {
    box-shadow: 6px 0 0 #fff, 12px 0 0 #fff;
  }
  33% {
    box-shadow: 0 0 0 #fff, 12px 0 0 #fff;
  }
  66% {
    box-shadow: 0 0 0 #fff, 6px 0 0 #fff;
  }
  100% {
    box-shadow: 6px 0 0 #fff, 12px 0 0 #fff;
  }
}
/* .payment select {
    appearance: none;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z'/%3E%3C/svg%3E") no-repeat right 12px center;
    background-size: 16px;
    padding-right: 40px;
    border-radius: 20px;
} */

/*# sourceMappingURL=checkout-form.css.map */
