.fast-checkout_form {
    display: flex;
    flex-direction: column;
}

.fast-checkout_form :is(input,select){
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 4px;
    padding: 0.5rem 0.5rem;
    background-color: #fff!important;
    font-size: 1.05rem;
}

.fast-checkout_form label{
    margin-top: 0.65rem;
    color: #6f747e;
    font-size: 1rem;
    font-family: inherit;
    display: flex;
}

/* Payment */
.fast-checkout_form .payment {
    border: 1px solid #dde2ea;
    padding: 1rem;
    margin-top: 0.75rem;
    border-radius: 4px;
    background: #f2f6fd;
}
.fast-checkout_form .payment label {
    margin: 0 0 0.25rem 0!important;
    font-weight: bold;
    color: #3b3c3e;
}
button{
     padding: 0.75rem;
     border: none;
     background: rgb(209, 0, 0);
     border-radius: 10px;
     color: #fff;
     margin-top: 1rem;
     font-weight: bold;
     font-size: 1.1rem;
}
button:hover{
    cursor: pointer;
}